# Lower reserved memory so Unity 6 can start on ~16 GB machines.
# These keys match the [UnityMemory] list printed in Editor.log.
memorysetup-profiler-bucket-allocator-block-size=4194304
memorysetup-profiler-bucket-allocator-block-count=1
memorysetup-bucket-allocator-block-size=16777216
memorysetup-bucket-allocator-block-count=4
memorysetup-temp-allocator-size-preload-manager=8388608
memorysetup-temp-allocator-size-main=8388608
memorysetup-profiler-allocator-block-size=4194304
memorysetup-profiler-editor-allocator-block-size=1048576
gfx-enable-gfx-jobs=0
