memorysetup-profiler-allocator-block-size=4194304
memorysetup-profiler-editor-allocator-block-size=1048576
memorysetup-bucket-allocator-block-size=16777216
memorysetup-bucket-allocator-block-count=4
memorysetup-profiler-bucket-allocator-block-size=4194304
memorysetup-profiler-bucket-allocator-block-count=1
memorysetup-temp-allocator-size-main=8388608
memorysetup-temp-allocator-size-preload-manager=8388608
